---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Privacy Policy">
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-lg px-4 md:px-8 mx-auto">
      <div class="mb-10 md:mb-16">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4">Privacy Policy</h2>
      </div>

      <article class="prose prose-sm sm:prose-base prose-slate mx-auto mt-12 mb-32">
        <h3>Introduction</h3>
        <p>Kometsoft values your privacy and is committed to protecting your personal information. This privacy policy (“Policy”) outlines the types of personal information we collect and how we use, disclose, and protect that information.</p>

        <h3>Information Collection and Use</h3>
        <p>We collect personal information from you when you use our Services. This information may include, but is not limited to, your name, email address, and any other information you choose to provide. We use this information to provide and improve the Services, to communicate with you, and to personalize your experience.</p>

        <h3>Information Sharing and Disclosure</h3>
        <p>We will not sell, rent, or share your personal information with third parties without your prior consent, except as necessary to provide the Services or as required by law.</p>

        <h3>Data Retention</h3>
        <p>We will retain your personal information for as long as necessary to provide the Services and as otherwise required by law.</p>

        <h3>Security</h3>
        <p>We have implemented reasonable technical and organizational measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet, or method of electronic storage, is 100% secure.</p>

        <h3>Changes to this Policy</h3>
        <p>We may update this Policy from time to time. If we make any material changes, we will notify you by email or through the Services.</p>

        <h3>Contact Information</h3>
        <p>If you have any questions or concerns about our privacy practices, please contact us at <a href="mailto:info@kometsoft.com.my">info@kometsoft.com.my</a>.</p>
      </article>
    </div>
  </div>
</Layout>
