---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Term of Service">
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <div class="mb-10 md:mb-16">
        <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4">Term of Service</h2>
      </div>

      <article class="prose prose-sm sm:prose-base prose-slate mx-auto mt-12 mb-32">
        <h3>Introduction</h3>
        <p>These terms of service (“Terms”) govern your access to and use of Kometsoft’s website, products, and services (collectively, “Services”). By accessing or using the Services, you agree to be bound by these Terms.</p>

        <h3>Use of Services</h3>
        <p>You may use the Services only for lawful purposes and in accordance with the Terms. You agree not to use the Services:</p>

        <ol>
          <li>In any way that violates any applicable federal, state, local, or international law or regulation</li>
          <li>To transmit, or procure the sending of, any advertising or promotional material, including any “spam” or other similar solicitation</li>
          <li>To impersonate or attempt to impersonate Kometsoft, a Kometsoft employee, another user, or any other person or entity</li>
          <li>To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of the Services, or which, as determined by Kometsoft, may harm Kometsoft or users of the Services or expose them to liability.</li>
        </ol>

        <h3>User Content</h3>
        <p>The Services may allow you to submit, upload, publish, or otherwise make available content, including but not limited to text, photographs, videos, and audio (“User Content”). You retain all rights in and to your User Content, and you are responsible for protecting those rights. By making any User Content available through the Services, you grant to Kometsoft a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Services and Kometsoft’s business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.</p>

        <h3>User Accounts</h3>
        <p>You may be required to create an account to access certain Services. You are responsible for safeguarding your account credentials and for any and all activities that occur under your account. You agree to immediately notify Kometsoft of any unauthorized use of your account.</p>

        <h3>Proprietary Rights</h3>
        <p>The Services and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), are owned by Kometsoft, its licensors, or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. These Terms do not grant you any right, title, or interest in the Services, others’ User Content, or the Kometsoft and its licensors’ intellectual property.</p>

        <h3>Disclaimer of Warranties</h3>
        <p>The Services are provided “as is” and “as available” without warranty of any kind, either express or implied, including without limitation any warranty for information, services, uninterrupted access, or products provided through or in connection with the Services, including without limitation the software licensed to you and the results obtained through the Services. These express warranties are given to the maximum extent permitted by law.</p>

        <h3>Limitation of Liability</h3>
        <p>In no event will Kometsoft, its affiliates, licensors, employees, agents, officers, or directors be liable for damages of any kind, under any legal theory, arising out of or in connection with your use, or inability to use.</p>
      </article>
    </div>
  </div>
</Layout>
